.contents{
    flex: 1;

    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;

        .top{
            display: flex;
        }
    }
}