.topbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ccc;
    width: 100%;
    height: 4rem;
    position: sticky;
    top:0;
    z-index: 999;
    border-bottom: 1px solid black;

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li{
                margin: 0px 20px;
                font-size: 1rem;
                cursor: pointer;

                &:hover{
                    color: black;
                }
            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;

            li{
                margin:0px 30px;
                font-size: 1rem;
                cursor: pointer;

                &:hover{
                    color:black;
                }
            }
        }

        button{
            font-family: 'josefin sans', 'sans-serif';
            border:none;
            padding: 25px 40px;
            font-weight: 500;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}